:root{
    --accent-color: rgb(163, 41, 39);
    --accent-light: rgb(194, 92, 87);
    --light-color: rgb(235,229,215)
}

html{scroll-behavior:smooth}

a{
    text-decoration: none;
    color: var(--light-color);
}

body{
    background-color: var(--light-color);
    text-align: center;
    margin:0;
    overflow-x: hidden;
}

header{
    background-color: var(--accent-light);
    position: fixed;
    height: 3.1rem;
    width: 100%;
    z-index: 999;

}



ul{
    text-decoration: none;
    color: var(--light-color);
    list-style-type: none;
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2rem;
    padding: 5px;
}

li{
    border: 1px solid transparent;
    display: inline-block;
    padding: 5px 15px;
    color: var(--light-color);
}

li:hover{
    border-radius: 11px;
    border: 1px solid var(--light-color);
}

hero{
    display: block;
    height: 90vh;
}

hero > Img{
    width: 100vw;
    margin:0;
    padding-top: 3rem;
}

#heroImgWide{
    display: none;
}

.btn{
    background-color: var(--accent-color);
    border-radius: 8px;
    color: var(--light-color);        
    border-color: transparent;
    transition: .4s; /* Animation */
    font-family: 'Bebas Neue', sans-serif;
    padding: 20px;
    font-size: 2rem;
    }


.container{    
    margin: 100px 0;
    filter: drop-shadow(0px 6px 3px rgba(50, 50, 0, 0.5));
    transition: .4s; /* Animation */
    display: inline-block;
    
}

.container:hover{    
    filter: drop-shadow(5px 26px 5px rgba(50, 50, 0, 0.9));
    transform: scale(1.1) translateY(-15px);
}

h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5rem;
    color: var(--accent-color);

}

h2, p{
    font-family: 'Montserrat', sans-serif;
    color: var(--accent-color)
}

h2{
    margin: 5px 0px;
    font-size: 1.1em;
}

p{ 
    margin: 0;
}

.card{
    display: inline-block;
    text-align: left;
    margin: 10px;
    min-width: 250px;
    max-width: 300px;
    overflow: hidden;
}

.card img{
    border-radius: 11px;
    width: 100%;
    height: 250px;
}

.text{
    padding: 7px;
}

.separator{
    margin: 10px 0px;
    width:200px
}

#quotes{
    margin: 10rem 0;
}

footer{
    background-color: var(--accent-color);
    padding: 50px;
    margin-top:50px
}

footer p{
    
    color: var(--light-color);
}







/* MEDIA      */

@media screen and (min-width: 550px) {
    .btn{
        padding: 10px 90px;
        font-size: 5rem;        
    }

    .separator{
        width:auto;
    }

    li{
        font-size: 1.5rem;
    }

    #heroImgSmall{
        display: none;
    }

    #heroImgWide{
        display: block;
    }

}
